<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column is-12" style="display: flex; justify-content: center;">
                <button id="modal-open" class="button is-success is-rounded" data-target="#modal"
                    (click)="openModal()"><strong>New Activity</strong></button>
            </div>
        </div>

        <div class="container" style="display: flex; flex-direction: row; justify-content: space-around;">

            <div class="card" *ngFor="let activity of activities"
                style="width: 30%; height: 10%; min-width: 327.6px; min-height: 522px;">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{activity?.imageUrl}}" alt="Placeholder image" (click)="fileInput.click()"
                            style="cursor: pointer">
                    </figure>

                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">

                            <div class="form-group">
                                <p class="title is-4" *ngIf="!activity.canEditCode" style="text-align: center;">
                                    {{activity?.title}}</p>

                                <input *ngIf="activity.canEditCode" [(ngModel)]="activity.title" type="text"
                                    class="form-control" />
                            </div>

                        </div>
                    </div>

                    <div class="content">

                        <div class="form-group">
                            <p class="text-muted" *ngIf="!activity.canEditCode">
                                {{truncateDescription(activity?.description)}}</p>
                            <textarea *ngIf="activity.canEditCode" [(ngModel)]="activity.description" type="text"
                                class="form-control"></textarea>
                        </div>

                        <input style=" display: none" type="file" (change)="onFileChanged($event, activity.id)"
                            #fileInput>

                        <br>

                        <p class="text-muted is-pulled-right">Created <time>{{activity?.created | date}}</time></p>
                    </div>
                </div>

                <footer class="card-footer">

                    <a class="card-footer-item" routerLink="/activities/{{activity?.id}}/events">
                        <p class="text-muted">{{activity?.events?.length}} Event(s)</p>
                    </a>

                    <a class="card-footer-item" *ngIf="activity.canEditCode"> <i class="fa fa-floppy-o"
                            aria-hidden="true"
                            (click)="updateActivity(activity); activity.canEditCode = false;"></i></a>

                    <a class="card-footer-item" *ngIf="!activity.canEditCode"> <i class=" fa fa-pencil"
                            aria-hidden="true" (click)="activity.canEditCode = true"></i></a>

                    <a class="card-footer-item"><i class="fa fa-trash" aria-hidden="true"
                            (click)="deleteActivity(activity.id, activity.title)"></i></a>

                </footer>

            </div>
        </div>

        <br>

        <div>
            <nav class="pagination" role="navigation" aria-label="pagination">

                <a *ngIf="currentPageNumber != 0" class="pagination-previous"
                    (click)="getPageOfActivities(currentPageNumber-1, 3)">Previous</a>
                <a *ngIf="currentPageNumber == 0" class="pagination-previous"
                    (click)="getPageOfActivities(currentPageNumber-1, 3)" disabled>Previous</a>

                <a *ngIf="currentPageNumber != (totalPages-1)" class="pagination-next"
                    (click)="getPageOfActivities(currentPageNumber+1, 3)">Next page</a>
                <a *ngIf="currentPageNumber == (totalPages-1)" class="pagination-next"
                    (click)="getPageOfActivities(currentPageNumber+1, 3)" disabled>Next page</a>

                <ul class="pagination-list">
                    <li *ngFor="let page of pages">
                        <a *ngIf="page != currentPageNumber" class="pagination-link" style="border-color: black;"
                            (click)="getPageOfActivities(page, 3)">{{page+1}}</a>
                        <a *ngIf="page == currentPageNumber" class="pagination-link is-current"
                            style="border-color: black;" (click)="getPageOfActivities(page, 3)">{{page+1}}</a>
                    </li>

                </ul>
            </nav>
        </div>


    </div>
</section>

<div id="modal" class="modal">
    <div class="modal-background"></div>

    <div class="modal-card">
        <header class="modal-card-head">
            <h3 class="modal-title">Create new Activity</h3>
            <!-- <button class="delete is-pulled-right" aria-label="close" (click)="closeModal()"></button> -->
        </header>

        <section class="modal-card-body">
            <form #addActivityForm="ngForm" (ngSubmit)="addActivity(addActivityForm)">
                <div class="form-group">
                    <label for="title"><strong>Title</strong></label>
                    <input type="text" name="title" class="form-control" id="title"
                        placeholder="Give the new activity a name..." required ngModel>
                </div>

                <div class="form-group">
                    <label for="description"><strong>Description</strong></label>
                    <input type="text" name="description" class="form-control" id="description"
                        placeholder="Give the new activity a description..." required ngModel>
                </div>



                <div class="modal-footer">
                    <button type="button" id="modal-close" class="button is-danger" aria-label="close"
                        (click)="closeModal()">Close</button>

                    <button [disabled]="addActivityForm.invalid" type="submit" class="button is-success">Save
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>