<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column is-one-third">
                <div class="container">
                    <div class="card" style="width: 30%; height: 10%; min-width: 327.6px; min-height: 522px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{activity?.imageUrl}}" alt="Placeholder image" (click)="fileInput.click()"
                                    style="cursor: pointer">
                            </figure>

                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <div class="form-group">
                                        <p class="title is-4" *ngIf="!activity.canEditCode">{{activity?.title}}</p>

                                        <input *ngIf="activity.canEditCode" [(ngModel)]="activity.title" type="text"
                                            class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                <div class="form-group">
                                    <p class="text-muted" *ngIf="!activity.canEditCode">
                                        {{activity?.description}}</p>
                                    <textarea *ngIf="activity.canEditCode" [(ngModel)]="activity.description"
                                        type="text" class="form-control"></textarea>
                                </div>

                                <input style=" display: none" type="file" (change)="onFileChanged($event, activity.id)"
                                    #fileInput>

                                <br>

                                <p class="text-muted is-pulled-right">Created <time>{{activity?.created | date}}</time>
                                </p>
                            </div>
                        </div>

                        <footer class="card-footer">
                            <a class="card-footer-item" routerLink="/activities/{{activity?.id}}/events">
                                <p class="text-muted">{{activity?.events?.length}} Event(s)</p>
                            </a>

                            <a class="card-footer-item" *ngIf="activity.canEditCode"> <i class="fa fa-floppy-o"
                                    aria-hidden="true"
                                    (click)="updateActivity(activity); activity.canEditCode = false;"></i></a>

                            <a class="card-footer-item" *ngIf="!activity.canEditCode"> <i class=" fa fa-pencil"
                                    aria-hidden="true" (click)="activity.canEditCode = true"></i></a>

                            <!-- <a class="card-footer-item"><i class="fa fa-trash" aria-hidden="true"
                                (click)="deleteActivity(activity.id, activity.title)"></i></a> -->
                        </footer>
                    </div>
                </div>
            </div>

            <div class="column">

                <div class="columns">
                    <div class="column is-three-quarters">
                        <h1 class="is-size-3">Events</h1>
                    </div>
                    <div class="column">
                        <button id="modal-open" class="button is-success is-rounded" data-target="#modal"
                            (click)="openModal()" style="margin-right: 3%;">Event</button>

                        <a type="button" class="button is-link is-rounded is-pulled-right"
                            routerLink="/activities">Back</a>
                    </div>

                </div>

                <div class="card" style="height: 40%; overflow-y: auto; background-color: white;">
                    <div class="card content">
                        <article class="media" *ngFor="let event of activity.events | orderBy:'desc':'created'">

                            <figure class="media-left">
                                <p class="image is-96x96">

                                    <span class="tag is-success"
                                        *ngIf="event.rating == 'EXCELLENT' || event.rating == 'GOOD'"
                                        style="width: 100%;">{{event?.rating}}</span>

                                    <span class="tag is-warning" *ngIf="event.rating == 'AVERAGE'"
                                        style="width: 100%;">{{event?.rating}}</span>

                                    <span class="tag is-danger"
                                        *ngIf="event.rating == 'POOR' || event.rating == 'BELOW_AVERAGE'"
                                        style="width: 100%;">{{event?.rating.replace("_","
                                        ")}}</span>
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{event?.title}}</strong>
                                        <br>
                                        {{event?.description}}
                                        <br>
                                        <small>{{parseJavaDate(event?.created) | timeAgo}}</small>
                                    </p>
                                </div>

                            </div>
                        </article>
                    </div>

                </div>

                <br>










                <!-- 

                    <li class="event" *ngIf="activity.events.length == 0">
                        <h4>Activity has no events!</h4>
                        <p class="float-right">{{currentDate | date:'yyyy-MM-dd hh:mm aa'}}</p>
                        <p>Events added to this activity will show here!</p>
                    </li>
                </ul> -->
            </div>
        </div>




    </div>
</section>

<div id="modal" class="modal">
    <div class="modal-background"></div>

    <div class="modal-card">
        <header class="modal-card-head">
            <h3 class="modal-title">Create new Event</h3>
        </header>

        <section class="modal-card-body">

            <form #addEventForm="ngForm" (ngSubmit)="addEvent(addEventForm)">

                <article class="media">

                    <div class="media-content">

                        <div class="columns">

                            <div class="column">
                                <p class="control">
                                    <input type="text" name="title" class="form-control" id="title" placeholder="Title"
                                        required ngModel>
                                </p>
                            </div>

                            <div class="column ">
                                <div class="field">
                                    <select name="rating" id="rating" class="form-control" ngModel>
                                        <option value="" selected disabled hidden>How did the event go...?</option>
                                        <option *ngFor="let rating of ratings" [ngStyle]="{'color': rating.colour}"
                                            [ngValue]="rating.name">{{rating.name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" name="description" name="description"
                                    placeholder="Add event details..." required ngModel></textarea>
                            </p>
                        </div>


                    </div>
                </article>

                <div class="modal-footer">
                    <button type="button" id="modal-close" class="button is-danger" aria-label="close"
                        (click)="closeModal()">Close</button>

                    <button [disabled]="addEventForm.invalid" type="submit" class="button is-success">Save
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>