

.fixed-width {
    width: 100%
}

.orange-rating {
    background-color: orange;
    border-color: orange;
}

.green-rating {
    background-color: green;
    border-color: green;
}

.red-rating {
    background-color: red;
    border-color: red;
}